.fundo {
    background-color: #f9db79;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/imagens/banner-home.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.texto_banner {
    width: 100%;
    height: auto;
    padding: 20px 30px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 100px;   
        text-shadow: 3px 5px 4px #474747;
    }
}

.infos_container {
    width: 100%;
}

.sabores, .eventos, .sobre {
    display: flex;
    flex-wrap: wrap;
}

.textos {
    width: 50%;
    height: auto;
    
}

.img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.textos {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;

    h2 {
        font-size: 36px;
    }

    span{
        font-size: 20px;
    }

    p{
        font-size: 16px;
        
    }
}


@media (max-width:720px) {
    .texto_banner h1{
        font-size: 60px;
    }
    .sabores, .eventos, .sobre {
        flex-direction: column;
    }

    .eventos {
        flex-direction: column-reverse;
    }
    .img, .textos {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .texto_banner h1 {
        font-size: 40px;
    }
}